<!DOCTYPE html>
<html>
<head>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>视图层 的 模板</title>  <!-- 导入文件 -->  {include file='public/file' /}
</head>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <!-- 头部 -->{include file='public/top' /}
    <!-- 左侧 -->{include file='public/left' /}
    <div class="layui-body"><!-- 内容开始 -->
      <div align="center">
        <h2><a href="{:url('article/cat_add')}">添加文章分类</a></h2>
        <table border="1">
          {volist name='list' id='vo'}
          <tr>
            <td>{$vo.cat_name}</td>
            <td>{$vo.cat_type}</td>
            <td>{$vo.show_in_nav}</td>
            <td>{$vo.sort_order}</td>
            <td>{$vo.cat_desc}</td>
            <td>{$vo.keywords}</td>
            <td>{$vo.cat_alias}</td>
            <td><a href="{:url('article/cat_del')}?id={$vo.cat_id}">删除</a></td>
          </tr>
          {/volist}
        </table>
        <p>{$list|raw}</p>
      </div>
    </div><!-- 内容 结束 -->
    <!-- 底部 -->{include file='public/bottom' /}
  </div>
</body>
</html>