<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>我的购物车-小米商城</title>
		<script src="/static/js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/mi/css/style.css">
	</head>
	<body>
<!-- start banner_x -->
		<div class="banner_x center">
			<a href="{:url('index/index')}" target="_blank"><div class="logo fl"></div></a>
			
			<div class="wdgwc fl ml40">我的购物车</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>
					<li><a href="{:url('login/index')}" target="_blank">登录</a></li>
					<li>|</li>
					<li><a href="{:url('register/index')}" target="_blank">注册</a></li>	
				</ul>
			</div>
		</div>
		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<!-- 购物车中间的订单部分 -->
			<div class="gwcxd center">
				<!-- 表头 -->
				<div class="top2 center">
					<div class="sub_top fl">
						<input type="checkbox" class="quanxuan" id="qx"/>全选
					</div>
					<div class="sub_top fl">商品名称</div>
					<div class="sub_top fl">单价</div>
					<div class="sub_top fl">数量</div>
					<div class="sub_top fl">小计</div>
					<div class="sub_top fl">操作</div>
					<div class="clear"></div>
				</div>
				<!-- 表体 -->
				{foreach $list as $key=>$vo }
				<div class="content2 center">
					<!-- 复选框 -->
					<div class="sub_content fl">
						<input type="checkbox" class="quanxuan" />
					</div>
					<!-- 商品图片 -->
					<div class="sub_content fl"><img src="/static/mi/image/gwc_xiaomi6.jpg"></div>
					<!-- 商品名称 -->
					<div class="sub_content fl">{$vo.spec_name}</div>
					<!-- 单价 -->
					<div class="sub_content fl">{$vo.unit_price}</div>
					<!-- 数量 -->
					<div class="sub_content fl">
						<input class="shuliang" type="number" value="1" step="1" min="1">
					</div>
					<!-- 小计 -->
					<div class="sub_content fl"><span>{$vo.unit_price}</span></div>
					<!-- 操作 -->
					<div class="sub_content fl"><a href="">x</a></div>
					<div class="clear"></div>
				</div>
				{/foreach}
			</div>
			<!-- 购物车 底部 去结算 -->
			<div class="jiesuandan mt20 center">
				<div class="tishi fl ml20">
					<ul>
						<li><a href="{:url('liebiao/index')}">继续购物</a></li>
						<li>|</li>
						<li>共<span>{$num}</span>件商品，已选择<span id="checked_goods">0</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="jiesuan fr">
					<div class="jiesuanjiage fl">合计（不含运费）：<span>0.00元</span></div>
					<div class="jsanniu fr">
						<input class="jsan" type="submit" name="jiesuan" value="去结算"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!-- 购物车 底部 去结算 -->
		</div>
	</body>
</html>
<script>
	$('div[class*="jsanniu"]').click(function(){
		window.location.href="{:url('dingdanzhongxin/index')}";
	});
//复选框 点击事件
$('.quanxuan[id!="qx"]').click(function(){
	jisuan_total();//计算总价
	checked_goods();//计算选中的数目
});
//全选 点击事件
$('#qx').click(function(){
	var v=$(this).prop('checked');
	$('.quanxuan').prop('checked',v);
	jisuan_total();//计算总价
	checked_goods();//计算选中的数目
});
//小计
$('.shuliang').click(function(){
	//获取 数量
	var shuliang=$(this).val();
	shuliang=parseInt(shuliang);
	//获取 单价
	var unit_price=$(this).parent().siblings(':eq(3)').text();
	//转换 数据类型
	unit_price=parseInt(unit_price);
	//计算 总价
	sub_price=shuliang*unit_price;
	sub_price+='元';
	//更改 小计
	$(this).parent().siblings(':eq(4)').children().empty();//清空
	$(this).parent().siblings(':eq(4)').children().append(sub_price);
	jisuan_total();//计算总价
});
//计算 总价
function jisuan_total(){
	var total_price = 0;
	var num = 0;
	$('.quanxuan[id!="qx"]:checked').each(function(i,v){
		total_price += parseInt($(this).parent().siblings(':has(span)').text());
	});
	$('[class*="jiesuanjiage"] span').empty();
	//更改 总价
	$('[class*="jiesuanjiage"] span').append(total_price);
}
//计算 多选框选中的数目
function checked_goods(){
	checked_num=0;
	$('.quanxuan[id!="qx"]:checked').each(function(i,v){
		checked_num++;
	});
	$('#checked_goods').empty();//清空
	$('#checked_goods').append(checked_num);
}
	//console.log(sub_price);
	//console.log(typeof(sub_price));
	//alert(ce);
</script>