<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>我的购物车-小米商城</title>
		<script src="/static/js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/mi/css/style.css">
	</head>
	<body>
<!-- start banner_x -->
		<div class="banner_x center">
			<a href="{:url('index/index')}" target="_blank"><div class="logo fl"></div></a>
			
			<div class="wdgwc fl ml40">核对订单信息</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>
					<li><a href="{:url('login/index')}" target="_blank">登录</a></li>
					<li>|</li>
					<li><a href="{:url('register/index')}" target="_blank">注册</a></li>	
				</ul>
			</div>
		</div>
		<div class="xiantiao"></div>
		<!-- 内容 -->
		<form action="" method="post">
			<div align="center">
			<!-- 收货地址-->
			<p>收货人信息<a href="{:url('selfinfo/address_save')}">[使用新地址]</a></p>
			<!-- 表体 -->
			<table border="1">
			{foreach $myaddress as $key=>$vo }
				<tr>
					<!-- 单选框 -->
					<td><input type="radio" class="choose" name="address" value="{$vo.id}" /></td>
					<!-- 收货人 -->
					<td>
						{$vo.name}
						{if $vo.is_default==1}<b style="color: red">默认</b>{else /}{/if}
					</td>
					<!-- 所在地区 -->
					<td>所在地区：{$vo.country}{$vo.province}{$vo.city}{$vo.area}{$vo.town}</td>
					<!-- 详细地址 -->
					<td>详细地址：{$vo.place}</td>
					<!-- 手机 -->
					<td>手机号：{$vo.phone}</td>
				</tr>
			{/foreach}
			</table>
			<!-- 发票 -->
			<span>发票信息</span><br>
			<span>发票抬头</span><input type="" name=""><br>
			<table border="1">
				<thead>
					<tr>
						<td>商品</td>
						<td>单价</td>
						<td>数量</td>
						<td>小计（元）</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			优惠卷： 
			<select>
				<option>选择优惠卷</option>
			</select>
			<input type="" name="" value="请输入优惠卷码"><br>
			选择物流：
			<select>
				<option>申通物流</option>
				<option>韵达物流</option>
				<option>圆通物流</option>
				<option>邮政物流</option>
				<option>顺丰物流</option>
			</select><br>
			给商家留言：
			<input type="" name=""><br>
			商品总金额：
			运费：
			使用优惠卷：
			使用积分：
			优惠活动：
			应付金额：
			<input type="submit" name="" value="提交订单">
			<!-- 订单底部 去支付 -->
			</div>
		</form>
	</body>
</html>