<!DOCTYPE html>
<html>
<head>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>订单 列表</title>  <!-- 导入文件 -->  {include file='public/file' /}
</head>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <!-- 头部 -->    {include file='public/top' /}
    <!-- 左侧 -->    {include file='public/left' /}
      <!-- 内容 开始 -->
    <div class="layui-body">
      <h1>订单 列表</h1>
      <table border="1">
        <thead>
          <tr>
            <td>订单号</td><td>收货人</td><td>总金额</td><td>应付金额</td><td>订单状态</td><td>支付状态</td><td>发货状态</td><td>支付方式</td><td>配送方式</td><td>下单时间</td><td>操作</td>
          </tr>
        </thead>
        <tbody>
          {foreach $order_data as $key=>$vo }<!-- 状态 --><!-- 花费 -->
          <tr>
            <td>{$vo.order_sn}</td><!-- 订单号 -->
            <td>{$vo.consignee}</td><!-- 收货人 -->
            <td>{$vo.order_total_price}</td><!-- 总金额 -->
            <td>{$vo.order_amount}</td><!-- 应付金额 -->
            <td></td><!-- 订单状态 -->
            <td></td><!-- 支付状态 -->
            <td></td><!-- 发货状态 -->
            <td></td><!-- 支付方式 -->
            <td></td><!-- 配送方式 -->
            <td>{$vo.add_time|date='Y-m-d H:i'}</td><!-- 下单时间 -->
            <td><a href="{:url('order/show')}?id={$vo.id}">查看</a></td><!-- 操作 -->
          </tr>
          {/foreach}
        </tbody>
      </table>
    </div><!-- 内容 结束 -->
    <!-- 底部 -->{include file='public/bottom' /}
  </div>
</body>
</html>